.header{
  display : flex;
  border: 2px solid black;
  height : 200px;
}
.logo{
  width:150px;
  height:150px;
 padding : 15px;
  
}
.nav-items{
   width:100%;
}
.nav-list{
  font-size : 17px;
  display : flex;
  list-style-type: none;
  padding-left : 400px;
  padding-top : 60px;
  
}
.nav-list>li{
  padding : 20px;
  margin : 10px;
  
}
.res-container{
  display:flex;
  flex-wrap:wrap;
}

.res-card {
  margin:5px;
  padding : 5px;
  width : 200px;
  
}

.res-card:hover{
  cursor : pointer;
  border : 1px solid black;

}
.search{
  padding : 10px;
}
.res-logo{
  width: 100%;
  height: 250px;
}
.filter-btn{
  margin:10px;
  cursor:pointer;
}